<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="stylesheet" href="/assets/404.css">
    </head>
    <body>
        <h1>404</h1>
        <i>This page was not found</i>
    </body>
</html>