<script src="/assets/vendors/jquery/jquery.min.js"></script>
<script src="/assets/vendors/bootstrap/bootstrap.min.js"></script>
<script src="/assets/vendors/owl-carousel/js/owl.carousel.min.js"></script>
<script src="/assets/vendors/aos/js/aos.js"></script>
<script src="/assets/js/landingpage.js"></script>
</body>
</html>