<div class="banner bg-dark" >
    <div class="container text-white">
      <h1 class="font-weight-semibold">We make cloud easier to use</h1>
      <h6 class="font-weight-normal pb-3">While still maintaining quality and scalability.</h6>
      <div>
        <a class="btn btn-opacity-light mr-1" href="https://my.gossie.site/">Get started</a>
        <a class="btn btn-opacity-success ml-1">Learn more</a>
      </div>
      <img src="/assets/images/Group171.svg" alt="" class="img-fluid">
    </div>
  </div>