<section class="digital-marketing-service" id="digital-marketing-section">
    <%#
    <div class="row align-items-center">
      <div class="col-12 col-lg-7 grid-margin grid-margin-lg-0" data-aos="fade-right">
        <h3 class="m-0">We Offer a Full Range<br>of Digital Marketing Services!</h3>
        <div class="col-lg-7 col-xl-6 p-0">
          <p class="py-4 m-0 text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
          <p class="font-weight-medium text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer</p>
        </div>    
      </div>
      <div class="col-12 col-lg-5 p-0 img-digital grid-margin grid-margin-lg-0" data-aos="fade-left">
        <img src="/assets/images/Group1.png" alt="" class="img-fluid">
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-12 col-lg-7 text-center flex-item grid-margin" data-aos="fade-right">
        <img src="/assets/images/Group2.png" alt="" class="img-fluid">
      </div>
      <div class="col-12 col-lg-5 flex-item grid-margin" data-aos="fade-left">
        <h3 class="m-0">Leading Digital Agency<br>for  Business Solution.</h3>
        <div class="col-lg-9 col-xl-8 p-0">
          <p class="py-4 m-0 text-muted">Power-packed with impressive features and well-optimized, this template is designed to provide the best performance in all circumstances.</p>
          <p class="pb-2 font-weight-medium text-muted">Its smart features make it a powerful stand-alone website building tool.</p>
        </div>
        <button class="btn btn-info">Readmore</button>
      </div>
    </div>
 %>
    <%- include('./_case.ejs', {
        img: {
            src: 'https://cdn-icons-png.flaticon.com/512/1239/1239682.png',
            align: 'r'
        },
        head: 'Shared IPs',

        btn: {
            enabled: true,
            text: 'See pricing!',
            url: 'https://my.gossie.site/'
        },

        text: "By using a shared ip, we can make VPS\'s cheaper by 1-2 euro\'s (compared to other hosts) per month! Most applications do not require a dedicated IP. This makes our hosting usable for all sorts of usecases."
    }) %>
  </section>