<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Contact Us</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="Name">Name</label>
              <input type="text" class="form-control" id="Name" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="Email">Email</label>
              <input type="email" class="form-control" id="Email-1" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="Message">Message</label>
              <textarea class="form-control" id="Message" placeholder="Enter your Message"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Submit</button>
        </div>
      </div>
    </div>
  </div>