<section class="features-overview" id="features-section" >
    <div class="content-header">
      <h2>Features</h2>
      <h6 class="section-subtitle text-muted">Some (unique) features we offer!</h6>
    </div>
    <div class="d-md-flex justify-content-between">
      <div class="grid-margin d-flex justify-content-start">
        <div class="features-width">
          <img src="/assets/icons/billing.png" style="max-width: 100px;" alt="" class="img-icons">
          <h5 class="py-3">Hourly billing</h5>
          <p class="text-muted">You pay per hour your server is running.</p>
          <a href="/about/billing"><p class="readmore-link">Read more!</p></a>  
        </div>
      </div>
      <div class="grid-margin d-flex justify-content-center">
        <div class="features-width">
          <img src="/assets/icons/scaling.png" style="max-width: 100px;" alt="" class="img-icons">
          <h5 class="py-3">Auto scaling</h5>
          <p class="text-muted">Automaticly deploy (temporarily) new servers to spread the load!</p>
          <a href="/about/scaling"><p class="readmore-link">Read more!</p></a>
        </div>
      </div>
      <div class="grid-margin d-flex justify-content-end">
        <div class="features-width">
          <img src="/assets/icons/panel.png" style="max-width: 100px;" alt="" class="img-icons">
          <h5 class="py-3">Custom control panel</h5>
          <p class="text-muted">
            We use a custom coded control panel!
          </p>
          <a href="/about/panel"><p class="readmore-link">Read more!</p></a>
        </div>
      </div>
    </div>
  </section>  