<footer class="border-top">
    <p class="text-center text-muted pt-4">Template by <a href="https://www.bootstrapdash.com/" class="px-1">Bootstrapdash!</a> Thanks for making this!</p>

    <div class="text-center text-muted">
        <a href="https://www.flaticon.com/free-icons/money" title="money icons">Money icons created by Freepik - Flaticon</a><br />
        <a href="https://www.flaticon.com/free-icons/large-scale" title="large scale icons">Large scale icons created by Freepik - Flaticon</a><br />
        <a href="https://www.flaticon.com/free-icons/settings" title="settings icons">Settings icons created by Freepik - Flaticon</a><br />
    </div>
</footer>