<section class="contact-details" id="contact-details-section">
    <div class="row text-center text-md-left">
      <div class="col-12 col-md-6 col-lg-3 grid-margin">
        <img src="/assets/images/Group2.svg" alt="" class="pb-2">
        <div class="pt-2">
          <p class="text-muted m-0">mikayla_beer@feil.name</p>
          <p class="text-muted m-0">906-179-8309</p>
        </div>         
      </div>
      <div class="col-12 col-md-6 col-lg-3 grid-margin">
        <h5 class="pb-2">Get in Touch</h5>
        <p class="text-muted">Don’t miss any updates of our new templates and extensions.!</p>
        <form>
          <input type="text" class="form-control" id="Email" placeholder="Email id">
        </form>
        <div class="pt-3">
          <button class="btn btn-dark">Subscribe</button>
        </div>   
      </div>
      <div class="col-12 col-md-6 col-lg-3 grid-margin">
        <h5 class="pb-2">Our Guidelines</h5>
        <a href="#"><p class="m-0 pb-2">Terms</p></a>   
        <a href="#" ><p class="m-0 pt-1 pb-2">Privacy policy</p></a> 
        <a href="#"><p class="m-0 pt-1 pb-2">Cookie Policy</p></a> 
        <a href="#"><p class="m-0 pt-1">Discover</p></a> 
      </div>
      <div class="col-12 col-md-6 col-lg-3 grid-margin">
          <h5 class="pb-2">Our address</h5>
          <p class="text-muted">518 Schmeler Neck<br>Bartlett. Illinois</p>
          <div class="d-flex justify-content-center justify-content-md-start">
            <a href="#"><span class="mdi mdi-facebook"></span></a>
            <a href="#"><span class="mdi mdi-twitter"></span></a>
            <a href="#"><span class="mdi mdi-instagram"></span></a>
            <a href="#"><span class="mdi mdi-linkedin"></span></a>
          </div>
      </div>
    </div>  
</section>