<section class="customer-feedback" id="feedback-section">
    <div class="row">
      <div class="col-12 text-center pb-5">
        <h2>What our customers have to say</h2>
        <h6 class="section-subtitle text-muted m-0">Lorem ipsum dolor sit amet, tincidunt vestibulum.</h6>
      </div>
      <div class="owl-carousel owl-theme grid-margin">
          <div class="card customer-cards">
            <div class="card-body">
              <div class="text-center">
                <img src="/assets/images/face2.jpg" width="89" height="89" alt="" class="img-customer">
                <p class="m-0 py-3 text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
                <div class="content-divider m-auto"></div>
                <h6 class="card-title pt-3">Tony Martinez</h6>
                <h6 class="customer-designation text-muted m-0">Marketing Manager</h6>
              </div>
            </div>
          </div>
          <div class="card customer-cards">
            <div class="card-body">
              <div class="text-center">
                <img src="/assets/images/face3.jpg" width="89" height="89" alt="" class="img-customer">
                <p class="m-0 py-3 text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
                <div class="content-divider m-auto"></div>
                <h6 class="card-title pt-3">Sophia Armstrong</h6>
                <h6 class="customer-designation text-muted m-0">Marketing Manager</h6>
              </div>
            </div>
          </div>
          <div class="card customer-cards">
            <div class="card-body">
              <div class="text-center">
                <img src="/assets/images/face20.jpg" width="89" height="89" alt="" class="img-customer">
                <p class="m-0 py-3 text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
                <div class="content-divider m-auto"></div>
                <h6 class="card-title pt-3">Cody Lambert</h6>
                <h6 class="customer-designation text-muted m-0">Marketing Manager</h6>
              </div>
            </div>
          </div>
          <div class="card customer-cards">
            <div class="card-body">
              <div class="text-center">
                <img src="/assets/images/face15.jpg" width="89" height="89" alt="" class="img-customer">
                <p class="m-0 py-3 text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
                <div class="content-divider m-auto"></div>
                <h6 class="card-title pt-3">Cody Lambert</h6>
                <h6 class="customer-designation text-muted m-0">Marketing Manager</h6>
              </div>
            </div>
          </div>
          <div class="card customer-cards">
            <div class="card-body">
              <div class="text-center">
                <img src="/assets/images/face16.jpg" width="89" height="89" alt="" class="img-customer">
                <p class="m-0 py-3 text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
                <div class="content-divider m-auto"></div>
                <h6 class="card-title pt-3">Cody Lambert</h6>
                <h6 class="customer-designation text-muted m-0">Marketing Manager</h6>
              </div>
            </div>
          </div>
          <div class="card customer-cards">
            <div class="card-body">
              <div class="text-center">
                <img src="/assets/images/face1.jpg" width="89" height="89" alt="" class="img-customer">
                <p class="m-0 py-3 text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
                <div class="content-divider m-auto"></div>
                <h6 class="card-title pt-3">Tony Martinez</h6>
                <h6 class="customer-designation text-muted m-0">Marketing Manager</h6>
              </div>
            </div>
          </div>
          <div class="card customer-cards">
            <div class="card-body">
              <div class="text-center">
                <img src="/assets/images/face2.jpg" width="89" height="89" alt="" class="img-customer">
                <p class="m-0 py-3 text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
                <div class="content-divider m-auto"></div>
                <h6 class="card-title pt-3">Tony Martinez</h6>
                <h6 class="customer-designation text-muted m-0">Marketing Manager</h6>
              </div>
            </div>
          </div>
          <div class="card customer-cards">
            <div class="card-body">
              <div class="text-center">
                <img src="/assets/images/face3.jpg" width="89" height="89" alt="" class="img-customer">
                <p class="m-0 py-3 text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
                <div class="content-divider m-auto"></div>
                <h6 class="card-title pt-3">Sophia Armstrong</h6>
                <h6 class="customer-designation text-muted m-0">Marketing Manager</h6>
              </div>
            </div>
          </div>
          <div class="card customer-cards">
            <div class="card-body">
              <div class="text-center">
                <img src="/assets/images/face20.jpg" width="89" height="89" alt="" class="img-customer">
                <p class="m-0 py-3 text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
                <div class="content-divider m-auto"></div>
                <h6 class="card-title pt-3">Cody Lambert</h6>
                <h6 class="customer-designation text-muted m-0">Marketing Manager</h6>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>