<!DOCTYPE html>
<html lang="en">
<head>
  <title><%- config.title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/vendors/owl-carousel/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/vendors/owl-carousel/css/owl.theme.default.css">
  <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/assets/vendors/aos/css/aos.css">
  <link rel="stylesheet" href="/assets/css/style.min.css">
</head>